.logo { grid-area: logo;}
.profile { grid-area: profile;}
.add { grid-area: add;}
.list { grid-area: list;}
.upcoming { grid-area: upcoming;}
.requests { grid-area: requests;}
.previous { grid-area: previous;}
.contact { 
    grid-area: contact;
    font-family: "Lucida Console", "Courier New", monospace;
    color: rgb(59, 65, 94);
}

.container {
    display: grid;
    grid-template-areas: 'logo logo logo'
    'upcoming upcoming profile'
    'upcoming upcoming add'
    'requests requests list'
    'requests requests previous'
    'contact contact contact';
    gap: 10px;
}

.container div{
    text-align: center;
    background-color: #FAE8E0;
    padding: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    height: 30px;
    background-color: #DCABB3;
}

a { 
    text-decoration: none;
    color: #44475c;
}
a:hover{ color: rgb(100, 100, 121);}

#buttonlike,.buttonlike:link, .buttonlike:visited {
    font: 13px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-radius: 3px;
    border: 1px solid #333333;
}

#link:hover{
    font: 30px ;
    text-decoration: none;
    background-color: #f3d2c4;
    /*color: #333333;*/
    padding: 15px 15px 15px 15px;
    /*border-radius: 3px;
    border: 1px solid;*/
    /*
    background-color: silver;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 30%;*/
}

h3 { text-align: left;}