.maintitle{
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    color: #63452A;
    position: relative;
}
#input button{
    height:50px;
    width:280px;
    margin-top:0px;
    border-radius: 20px;
    display: block;
    font-size: 20px;
    padding: 0px 15px;
    text-align: center;}


code {
    background: #d6c8c2;
    border-radius: 6px;
    color: rgb(95, 73, 32);
    display: block;
    font: 14px/24px "Source Code Pro", Inconsolata, "Lucida Console", Terminal, "Courier New", Courier;
    padding: 24px 15px;
    text-align: center;
  }

  header code {
    background: #FAE8E0;
    border-radius: 6px;
    color: rgb(95, 73, 32);
    display: block;
    font: 14px/24px "Source Code Pro", Inconsolata, "Lucida Console", Terminal, "Courier New", Courier;
    padding: 24px 15px;
    text-align: center;
  }
  header,
  section,
  aside,
  footer {
    margin: 0 0 0 0; 
  }
  section {
    display: inline-block;
    width: 100%;
  }
  footer {
    margin-bottom: 0;
  }
  a{text-decoration:none; text-align: center; }
  button {margin-left: 40%;
            margin-bottom:40px;
            background-color :#fee9e1;
            border:none ;}
  button ul li{border-top: 1px solid;
         color :#FAE8E0;}
    button ul li:hover{background-color: #d6c8c2;}
                 li a{text-decoration: none; color:palevioletred;}
                 a:hover{color:skyblue;}
button:hover ul {display: block;}
button ul {display: none;}
li{list-style: none;
  text-align: center;
  margin:15px;}