header {
    text-align: center;
    background-color: #FAE8E0;
    padding: 35px;
}

footer {
    text-align: center;
    background-color: #FAE8E0;
    padding: 35px;
    bottom:0;
    margin-bottom: -40px;
}

body{
    height: 100%;
}

a { 
    text-decoration: none;
    color: #44475c;
}
a:hover{ color: rgb(100, 100, 121);}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #FAE8E0;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    animation: fadeEffect 1s;
    height: 300px;
    overflow:scroll;
    /*max-height: ;*/
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#content{
    height: 100%;
}

table {
    text-align: center;
    width: 100%;
    border-collapse: collapse;
}

th {
    height: 30px;
    background-color: #DCABB3;
}

.buttonlike:link, .buttonlike:visited {
    font: 13px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-radius: 3px;
    border: 1px solid #333333;
}