/*external style sheet for:
Edit an appointment request
Request an appointment
about us*/

body{
    background-color: #FAE8E0;
    font-family: "Garamond" , Times, serif;;
}

div{
    background: white;
    width: 70%;
    margin: auto;
    margin-top: 7%;
    border-radius: 10px;
    padding: 20px;
}

.aboutUsImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 170px;
}
.buttonlike:link, .buttonlike:visited {
    font: 13px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-radius: 3px;
    border: 1px solid #333333;}
 
.logoutb:link, .logoutb:visited {
    font: 20px Arial;
    text-decoration: none;
    background-color: #cfbbbb;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-radius: 3px;
    border: 1px solid #333333;} 
.logoutb:hover{
    font:25px Arial;
    text-decoration: underline;
    background-color: #c2adad;
}   
.error {color: #FF0000;}


.availappts td{
    text-align: center;
}