/*external style sheet for:
Edit an appointment request
Request an appointment*/

body{
    background-color: #FAE8E0;
    font-family: "Garamond" , Times, serif;;
}

div{
    background: white;
    width: 70%;
    margin: auto;
    margin-top: 7%;
    border-radius: 10px;
    padding: 20px;
}